openapi: 3.1.0
info:
  title: Necter Hub API
  version: 1.0.0
  summary: Public JSON API of the Necter testnet (testnet-rpc.necter.network) and its internal admin surface.
  description: |
    Normative companion of `spec/PLATFORM.md`. Section references (§a … §k) point there.

    **Conventions**
    * Every response is `application/json; charset=utf-8` except the two documented binary downloads
      (`GET /v1/modules/{address}/hbc`, `GET /v1/assets/{sha256}`). Unknown paths → 404 JSON.
    * Field names are snake_case. Timestamps are unix seconds (`*_at`). Token amounts are decimal strings in
      base units (wei); token objects carry `decimals`. Hashes, ids and addresses are lowercase `0x` hex.
    * Lists use cursor pagination: `?limit=1..200` (default 50) and `?cursor=<opaque>`; responses are
      `{"items": [...], "next_cursor": "…" | null}`.
    * Errors: `{"error": "<code>", "message": "…", "details": {…}, "request_id": "…"}` with the HTTP status
      listed per endpoint. `error` codes are stable; `message` is for humans.
    * Rate limits: every response carries `RateLimit-Limit`, `RateLimit-Remaining`, `RateLimit-Reset`
      (seconds); 429 adds `Retry-After`. Budgets are per API key, per session wallet, per node key, and per
      IP for anonymous calls.
    * Auth:
      - `session`: bearer token from SIWE (EIP-4361) wallet sign-in (`/v1/auth/*`), 12 h lifetime.
      - `apiKey`: developer API key `nk_test_<8 char id>_<43 char secret>` as a bearer token, scoped.
      - `nodeSig`: PROTOCOL.md node request signing (`X-Ndsr-Node`, `X-Ndsr-Public-Key`, `X-Ndsr-Timestamp`,
        `X-Ndsr-Nonce`, `X-Ndsr-Signature`), signed over the path as sent.
      - `operator`: operator session on the admin host only.
    * Legacy node-facing paths of PROTOCOL.md (`/api/nodes/register`, `/api/nodes/heartbeat`,
      `/api/validators`, `/api/receipts`, `/api/receipt`, `/api/vaults/{module_address}`,
      `/api/modules/{address}/hbc`, `/api/chains`, `/api/execute`) keep their exact current behaviour on the
      gateway host and are aliased on this host (tag `node-legacy`; see PROTOCOL.md for their bodies).
    * The miner relay is a WebSocket at `wss://testnet-rpc.necter.network/v1/relay` (PLATFORM.md §f); it is
      listed here for discoverability only.
  license:
    name: MIT
servers:
  - url: https://testnet-rpc.necter.network
    description: Public RPC host (JSON only)
tags:
  - name: network
  - name: explorer
  - name: modules
  - name: projects
  - name: committees
  - name: tasks
  - name: auth
  - name: accounts
  - name: devices
  - name: subscriptions
  - name: earnings
  - name: slashing
  - name: faucet
  - name: developers
  - name: nodes
  - name: node-legacy
  - name: relay
  - name: admin
    description: Served only on https://gateway.testnet.necter.network (404 on the RPC host).

security: []

paths:
  # ───────────────────────────── network ─────────────────────────────
  /:
    get:
      tags: [network]
      operationId: getNetworkDescriptor
      summary: Network descriptor (PLATFORM.md §k)
      responses:
        '200':
          description: Descriptor
          headers: { Cache-Control: { schema: { type: string, example: 'public, max-age=60' } } }
          content: { application/json: { schema: { $ref: '#/components/schemas/NetworkDescriptor' } } }
  /v1/status:
    get:
      tags: [network]
      operationId: getStatus
      summary: Health of Hub, validators, chain indexer and relay
      responses:
        '200': { description: Status, content: { application/json: { schema: { $ref: '#/components/schemas/Status' } } } }
  /v1/network/params:
    get:
      tags: [network]
      operationId: getNetworkParams
      summary: Network parameters (PLATFORM.md §0.1) and their hash
      responses:
        '200': { description: Params, content: { application/json: { schema: { $ref: '#/components/schemas/NetworkParams' } } } }
  /v1/network/treasury:
    get:
      tags: [network]
      operationId: getTreasury
      summary: Treasury address and balances (read-only; governance spend is P4)
      responses:
        '200':
          description: Treasury
          content:
            application/json:
              schema:
                type: object
                required: [address, balances]
                properties:
                  address: { $ref: '#/components/schemas/Address' }
                  balances: { type: array, items: { $ref: '#/components/schemas/TokenBalance' } }
  /v1/validators:
    get:
      tags: [network]
      operationId: listValidators
      summary: Current validator set (public view of PROTOCOL.md § Validator set)
      responses:
        '200':
          description: Validators
          content:
            application/json:
              schema:
                type: object
                required: [validators, count, quorum]
                properties:
                  validators: { type: array, items: { $ref: '#/components/schemas/Validator' } }
                  count: { type: integer }
                  quorum: { type: integer }
  /v1/whoami:
    get:
      tags: [network]
      operationId: whoami
      summary: Caller's public IP as seen by the Hub (used by necter-miner to print its remote dashboard URL)
      responses:
        '200':
          description: Caller
          content:
            application/json:
              schema:
                type: object
                required: [ip, time]
                properties:
                  ip: { type: string, examples: ['203.0.113.7'] }
                  time: { $ref: '#/components/schemas/UnixTime' }
  /v1/categories:
    get:
      tags: [network]
      operationId: listCategories
      responses:
        '200':
          description: Categories with listed-project counts
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required: [slug, name, projects]
                      properties:
                        slug: { $ref: '#/components/schemas/Category' }
                        name: { type: string }
                        projects: { type: integer }
  /v1/collections:
    get:
      tags: [network]
      operationId: listCollections
      responses:
        '200':
          description: Curated collections
          content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/Collection' } } } } } }
  /v1/collections/{collection_id}:
    get:
      tags: [network]
      operationId: getCollection
      parameters: [ { name: collection_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200': { description: Collection, content: { application/json: { schema: { $ref: '#/components/schemas/Collection' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/benchmarks/current:
    get:
      tags: [network]
      operationId: getBenchmarkSuite
      summary: Benchmark suite with pinned receipt hashes (PLATFORM.md §c.5)
      responses:
        '200': { description: Suite, content: { application/json: { schema: { $ref: '#/components/schemas/BenchmarkSuite' } } } }
  /v1/beacons/{epoch_secs}/{epoch}:
    get:
      tags: [committees]
      operationId: getBeacon
      summary: Epoch beacon (PLATFORM.md §e.1)
      parameters:
        - { name: epoch_secs, in: path, required: true, schema: { type: integer } }
        - { $ref: '#/components/parameters/Epoch' }
      responses:
        '200': { description: Beacon, content: { application/json: { schema: { $ref: '#/components/schemas/Beacon' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/events:
    get:
      tags: [network]
      operationId: listNetworkEvents
      summary: Public event feed (module events, rounds, listings, settlements); long-poll with `wait`
      parameters:
        - { name: after, in: query, schema: { type: string }, description: 'Opaque cursor; return events after it' }
        - { name: wait, in: query, schema: { type: integer, minimum: 0, maximum: 30, default: 0 }, description: 'Seconds to hold the request when no event is available' }
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: module, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: type, in: query, schema: { type: string } }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Events
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items: { type: array, items: { $ref: '#/components/schemas/Event' } }
                  next_cursor: { type: [string, 'null'] }

  # ───────────────────────────── explorer ─────────────────────────────
  /v1/explorer/stats:
    get:
      tags: [explorer]
      operationId: getExplorerStats
      responses:
        '200':
          description: Network totals
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects_listed: { type: integer }
                  miners_online: { type: integer }
                  devices_online: { type: integer }
                  rounds_24h: { type: integer }
                  rounds_finalized_24h: { type: integer }
                  units_24h: { type: integer }
                  validators: { type: integer }
                  collateral_bonded: { $ref: '#/components/schemas/Amount' }
                  updated_at: { $ref: '#/components/schemas/UnixTime' }
  /v1/explorer/rounds:
    get:
      tags: [explorer]
      operationId: listRounds
      parameters:
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: module, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: kind, in: query, schema: { type: string, enum: [exec, task, reward, epoch] } }
        - { name: state, in: query, schema: { type: string, enum: [pending, committee_agreed, finalized, escalated, failed, fallback] } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Rounds, newest first
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/RoundSummary' } } } } ] } } }
  /v1/explorer/rounds/{round_id}:
    get:
      tags: [explorer]
      operationId: getRound
      parameters: [ { $ref: '#/components/parameters/RoundId' } ]
      responses:
        '200': { description: Round with votes and finality, content: { application/json: { schema: { $ref: '#/components/schemas/Round' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/explorer/receipts/{receipt_hash}:
    get:
      tags: [explorer]
      operationId: getReceipt
      parameters: [ { name: receipt_hash, in: path, required: true, schema: { $ref: '#/components/schemas/Hash' } } ]
      responses:
        '200':
          description: Execution receipt (with signatures) or reward receipt v1/v2
          content:
            application/json:
              schema:
                type: object
                required: [kind, receipt]
                properties:
                  kind: { type: string, enum: [execution, reward_v1, reward_v2] }
                  receipt: { type: object, description: 'PROTOCOL.md execution receipt envelope, § Reward receipt, or PLATFORM.md §h.4' }
                  rounds: { type: array, items: { type: string } }
                  settlement: { $ref: '#/components/schemas/Settlement' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/explorer/epochs:
    get:
      tags: [explorer]
      operationId: listEpochs
      parameters:
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: status, in: query, schema: { type: string, enum: [open, closed, attested, submitted, settled, released, vetoed, underfunded] } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Project epochs, newest first
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/EpochSummary' } } } } ] } } }
  /v1/explorer/epochs/{project_id}/{epoch}:
    get:
      tags: [explorer]
      operationId: getEpoch
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Epoch' } ]
      responses:
        '200':
          description: Epoch with its attested v2 receipt and on-chain settlement
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/EpochSummary' }
                  - type: object
                    properties:
                      receipt: { $ref: '#/components/schemas/RewardReceiptV2' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/explorer/slashes:
    get:
      tags: [explorer]
      operationId: listSlashes
      parameters:
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/SlashStatus' } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Slashes
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Slash' } } } } ] } } }
  /v1/explorer/search:
    get:
      tags: [explorer]
      operationId: explorerSearch
      summary: Resolve a hash, address, node id, round id or text to explorer objects
      parameters: [ { name: q, in: query, required: true, schema: { type: string, minLength: 2, maxLength: 200 } } ]
      responses:
        '200':
          description: Matches
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required: [type, id, label]
                      properties:
                        type: { type: string, enum: [project, module, round, receipt, epoch, account, device, slash, tx] }
                        id: { type: string }
                        label: { type: string }

  # ───────────────────────────── modules / execute ─────────────────────────────
  /v1/modules:
    get:
      tags: [modules]
      operationId: listModules
      parameters:
        - { name: developer, in: query, schema: { $ref: '#/components/schemas/Address' } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Deployed modules
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Module' } } } } ] } } }
    post:
      tags: [modules]
      operationId: uploadModule
      summary: Upload a .hbc artifact (address computed and verified server-side, HBC_SPEC §4)
      security: [ { session: [] }, { apiKey: [modules:write] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hbc_b64]
              properties:
                hbc_b64: { type: string, description: 'base64 of the .hbc bytes (≤ 16 MiB decoded)' }
      responses:
        '201': { description: Deployed, content: { application/json: { schema: { $ref: '#/components/schemas/Module' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/modules/{address}:
    get:
      tags: [modules]
      operationId: getModule
      parameters: [ { $ref: '#/components/parameters/ModuleAddress' } ]
      responses:
        '200': { description: Module, content: { application/json: { schema: { $ref: '#/components/schemas/Module' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/modules/{address}/hbc:
    get:
      tags: [modules]
      operationId: downloadModule
      summary: Raw .hbc bytes (binary exception, PLATFORM.md D29). Clients MUST verify the address.
      parameters: [ { $ref: '#/components/parameters/ModuleAddress' } ]
      responses:
        '200':
          description: Artifact
          headers:
            X-Manifest-Address: { schema: { $ref: '#/components/schemas/Hash' } }
            ETag: { schema: { type: string } }
          content: { application/octet-stream: { schema: { type: string, contentMediaType: application/octet-stream } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/assets/{sha256}:
    get:
      tags: [modules]
      operationId: getAsset
      summary: Listing image (binary exception; content-addressed by SHA-256)
      parameters: [ { name: sha256, in: path, required: true, schema: { type: string, pattern: '^[0-9a-f]{64}$' } } ]
      responses:
        '200':
          description: Image
          content:
            image/png: { schema: { type: string, contentMediaType: image/png } }
            image/jpeg: { schema: { type: string, contentMediaType: image/jpeg } }
            image/webp: { schema: { type: string, contentMediaType: image/webp } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/execute:
    post:
      tags: [modules]
      operationId: execute
      summary: Run one validator consensus round (same contract as legacy `/api/execute`)
      security: [ {}, { apiKey: [tasks:submit] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [module, function, input]
              properties:
                module: { $ref: '#/components/schemas/Hash' }
                function: { type: string, maxLength: 64 }
                input: { description: 'String (passed byte-for-byte) or JSON value (canonicalized; no floats)' }
                gas_limit: { type: integer, minimum: 1, default: 1000000 }
      responses:
        '200': { description: Finalized round result, content: { application/json: { schema: { $ref: '#/components/schemas/ExecuteResult' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  # ───────────────────────────── projects ─────────────────────────────
  /v1/projects:
    get:
      tags: [projects]
      operationId: listProjects
      parameters:
        - { name: q, in: query, schema: { type: string, maxLength: 100 }, description: 'Full-text over name, tagline, tags' }
        - { name: category, in: query, schema: { $ref: '#/components/schemas/Category' } }
        - { name: tag, in: query, schema: { type: string } }
        - { name: device_class, in: query, schema: { $ref: '#/components/schemas/DeviceClass' } }
        - { name: developer, in: query, schema: { $ref: '#/components/schemas/Address' } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/ListingStatus' }, description: 'Default `listed`; other statuses only for the owner or operator' }
        - { name: sort, in: query, schema: { type: string, enum: [trending, newest, miners, earnings, rating, name], default: trending } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Projects
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/ProjectSummary' } } } } ] } } }
  /v1/projects/{project_id}:
    get:
      tags: [projects]
      operationId: getProject
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      responses:
        '200': { description: Project, content: { application/json: { schema: { $ref: '#/components/schemas/Project' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/projects/{project_id}/manifest:
    get:
      tags: [projects]
      operationId: getProjectManifest
      summary: Current signed manifest envelope (PLATFORM.md §a.1)
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      responses:
        '200': { description: Signed manifest, content: { application/json: { schema: { $ref: '#/components/schemas/SignedManifest' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/projects/{project_id}/versions:
    get:
      tags: [projects]
      operationId: listProjectVersions
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Versions, newest first
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/ProjectVersion' } } } } ] } } }
  /v1/projects/{project_id}/versions/{version}:
    get:
      tags: [projects]
      operationId: getProjectVersion
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { name: version, in: path, required: true, schema: { type: integer, minimum: 1 } } ]
      responses:
        '200':
          description: Version with its signed manifest
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/ProjectVersion' }
                  - type: object
                    properties: { signed_manifest: { $ref: '#/components/schemas/SignedManifest' } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/projects/{project_id}/economics:
    get:
      tags: [projects]
      operationId: getProjectEconomics
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      responses:
        '200': { description: Economics and vault state, content: { application/json: { schema: { $ref: '#/components/schemas/ProjectEconomics' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/projects/{project_id}/stats:
    get:
      tags: [projects]
      operationId: getProjectStats
      parameters:
        - { $ref: '#/components/parameters/ProjectId' }
        - { $ref: '#/components/parameters/Period' }
      responses:
        '200': { description: Stats, content: { application/json: { schema: { $ref: '#/components/schemas/ProjectStats' } } } }
  /v1/projects/{project_id}/miners:
    get:
      tags: [projects]
      operationId: listProjectMiners
      summary: Public list of subscribed devices (node id, class, units, reputation)
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Period' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Miners
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/ProjectMiner' } } } } ] } } }
  /v1/projects/{project_id}/epochs:
    get:
      tags: [projects]
      operationId: listProjectEpochs
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Epochs
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/EpochSummary' } } } } ] } } }
  /v1/projects/{project_id}/rounds:
    get:
      tags: [projects]
      operationId: listProjectRounds
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Task rounds
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/RoundSummary' } } } } ] } } }
  /v1/projects/{project_id}/compatibility:
    post:
      tags: [projects]
      operationId: checkCompatibility
      summary: Hardware compatibility of a device (by node_id) or of an ad-hoc profile
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                node_id: { $ref: '#/components/schemas/NodeId' }
                class: { $ref: '#/components/schemas/DeviceClass' }
                engine: { $ref: '#/components/schemas/Engine' }
                hardware: { $ref: '#/components/schemas/HardwareProfile' }
                benchmark_score: { type: integer }
      responses:
        '200': { description: Result, content: { application/json: { schema: { $ref: '#/components/schemas/Compatibility' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/projects/{project_id}/reviews:
    get:
      tags: [projects]
      operationId: listReviews
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { name: sort, in: query, schema: { type: string, enum: [newest, helpful, rating_high, rating_low], default: newest } }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Reviews
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/Page' }
                  - properties:
                      items: { type: array, items: { $ref: '#/components/schemas/Review' } }
                      average_rating_x100: { type: integer, description: 'Average rating × 100 (integer)' }
                      count: { type: integer }
    put:
      tags: [projects]
      operationId: upsertMyReview
      summary: Create or replace the caller's review (needs ≥ 1 credited round on this project)
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating, comment]
              properties:
                rating: { type: integer, minimum: 1, maximum: 5 }
                comment: { type: string, maxLength: 2000 }
      responses:
        '200': { description: Saved, content: { application/json: { schema: { $ref: '#/components/schemas/Review' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    delete:
      tags: [projects]
      operationId: deleteMyReview
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      responses:
        '204': { description: Deleted }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/projects/{project_id}/reviews/{review_id}/helpful:
    post:
      tags: [projects]
      operationId: markReviewHelpful
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { name: review_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200': { description: Count, content: { application/json: { schema: { type: object, properties: { helpful: { type: integer } } } } } }
  /v1/projects/{project_id}/announcements:
    get:
      tags: [projects]
      operationId: listAnnouncements
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Announcements
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Announcement' } } } } ] } } }
  /v1/projects/{project_id}/reports:
    post:
      tags: [projects]
      operationId: reportProject
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [category, severity, reason]
              properties:
                category: { type: string, enum: [scam, malware, economics, impersonation, spam, other] }
                severity: { type: string, enum: [low, medium, high] }
                reason: { type: string, maxLength: 2000 }
      responses:
        '201': { description: Recorded, content: { application/json: { schema: { type: object, properties: { report_id: { type: string } } } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ───────────────────────────── tasks ─────────────────────────────
  /v1/projects/{project_id}/tasks:
    post:
      tags: [tasks]
      operationId: submitTask
      summary: Submit a task to a project's committee (PLATFORM.md §b.3); `wait` blocks until final
      description: Allowed with an API key of the project's developer (`tasks:submit`), or anonymously when the
        project has `scheduling.public_tasks = true` (rate-limited per IP).
      security: [ { apiKey: [tasks:submit] }, {} ]
      parameters:
        - { $ref: '#/components/parameters/ProjectId' }
        - { name: wait, in: query, schema: { type: integer, minimum: 0, maximum: 120, default: 0 }, description: 'Seconds to wait for `final` (or `committee_agreed` with `accept=agreed`)' }
        - { name: accept, in: query, schema: { type: string, enum: [final, agreed], default: final } }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [function, input]
              properties:
                function: { type: string, description: 'One of consensus.work.functions' }
                input: { description: 'String (byte-for-byte) or JSON value (canonical JSON, no floats); ≤ 1 MiB' }
                input_b64: { type: string, description: 'Alternative to `input` for binary input' }
                gas_limit: { type: integer, minimum: 1, description: 'Default and max: consensus.work.max_gas_limit' }
                idempotency_key: { type: string, maxLength: 64, description: 'Same key within 24 h returns the same task' }
      responses:
        '202': { description: 'Accepted, not final yet', content: { application/json: { schema: { $ref: '#/components/schemas/Task' } } } }
        '200': { description: Final (or agreed) within `wait`, content: { application/json: { schema: { $ref: '#/components/schemas/Task' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '409': { $ref: '#/components/responses/Conflict' }
        '413': { $ref: '#/components/responses/TooLarge' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }
  /v1/tasks/{task_id}:
    get:
      tags: [tasks]
      operationId: getTask
      parameters:
        - { name: task_id, in: path, required: true, schema: { type: string } }
        - { name: wait, in: query, schema: { type: integer, minimum: 0, maximum: 120, default: 0 } }
      responses:
        '200': { description: Task, content: { application/json: { schema: { $ref: '#/components/schemas/Task' } } } }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────────────────────────── committees ─────────────────────────────
  /v1/committees/{project_id}/{epoch}:
    get:
      tags: [committees]
      operationId: getCommitteeSnapshot
      summary: Attested miner-set snapshot (PLATFORM.md §e.2); everything needed to recompute committees
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Epoch' } ]
      responses:
        '200': { description: Snapshot, content: { application/json: { schema: { $ref: '#/components/schemas/AttestedSnapshot' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
        '425': { description: Not attested yet, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
  /v1/committees/{project_id}/{epoch}/{seq}:
    get:
      tags: [committees]
      operationId: getCommittee
      summary: Draw list of one slot (PLATFORM.md §e.4)
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Epoch' }, { name: seq, in: path, required: true, schema: { type: integer, minimum: 0 } } ]
      responses:
        '200': { description: Committee, content: { application/json: { schema: { $ref: '#/components/schemas/Committee' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/bindings/{binding_hash}:
    get:
      tags: [committees]
      operationId: getBinding
      parameters: [ { name: binding_hash, in: path, required: true, schema: { $ref: '#/components/schemas/Hash' } } ]
      responses:
        '200': { description: Binding record (PLATFORM.md §c.2), content: { application/json: { schema: { $ref: '#/components/schemas/Binding' } } } }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────────────────────────── relay (documentation only) ─────────────────────────────
  /v1/relay:
    get:
      tags: [relay]
      operationId: relay
      summary: Miner WebSocket (PLATFORM.md §f). Upgrade with subprotocol `necter-relay.v1`.
      parameters:
        - { name: Upgrade, in: header, required: true, schema: { type: string, const: websocket } }
        - { name: Sec-WebSocket-Protocol, in: header, required: true, schema: { type: string, const: necter-relay.v1 } }
      responses:
        '101': { description: Switching protocols }
        '426': { description: Not a WebSocket upgrade or wrong subprotocol, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }

  # ───────────────────────────── auth (SIWE) ─────────────────────────────
  /v1/auth/nonce:
    post:
      tags: [auth]
      operationId: siweNonce
      summary: Get a single-use SIWE nonce (valid 300 s)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [address, domain]
              properties:
                address: { $ref: '#/components/schemas/Address' }
                domain: { type: string, description: 'Allowed: testnet.necter.network, 127.0.0.1:7878, localhost:7878, necter-miner.app (desktop/mobile apps)' }
      responses:
        '200':
          description: Nonce and the exact message to sign
          content:
            application/json:
              schema:
                type: object
                required: [nonce, issued_at, expires_at, message]
                properties:
                  nonce: { type: string, pattern: '^[A-Za-z0-9]{17}$' }
                  issued_at: { $ref: '#/components/schemas/UnixTime' }
                  expires_at: { $ref: '#/components/schemas/UnixTime' }
                  message:
                    type: string
                    description: |
                      EIP-4361 message the wallet signs (EIP-191), e.g.
                      `testnet.necter.network wants you to sign in with your Ethereum account:\n0xAbC…(EIP-55)\n\nSign in to Necter testnet.\n\nURI: https://testnet.necter.network\nVersion: 1\nChain ID: 11155111\nNonce: <nonce>\nIssued At: 2026-10-07T12:00:00Z\nExpiration Time: 2026-10-08T00:00:00Z`
        '400': { $ref: '#/components/responses/BadRequest' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/auth/siwe:
    post:
      tags: [auth]
      operationId: siweLogin
      summary: Exchange a signed SIWE message for a bearer session
      description: The Hub parses the message strictly (EIP-4361), requires domain/URI from the allow-list, `Chain ID` =
        11155111, the nonce it issued (single use), `Issued At` within ±300 s, `Expiration Time` ≤ 24 h, the
        statement `Sign in to Necter testnet.`, and recovers the EIP-191 signer = address. Contract wallets
        (EIP-1271) are verified with `isValidSignature` on Sepolia.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message, signature]
              properties:
                message: { type: string, maxLength: 4096 }
                signature: { $ref: '#/components/schemas/EvmSignature' }
      responses:
        '200': { description: Session, content: { application/json: { schema: { $ref: '#/components/schemas/Session' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/auth/session:
    get:
      tags: [auth]
      operationId: getSession
      security: [ { session: [] } ]
      responses:
        '200': { description: Session, content: { application/json: { schema: { $ref: '#/components/schemas/Session' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/auth/logout:
    post:
      tags: [auth]
      operationId: logout
      security: [ { session: [] } ]
      responses:
        '204': { description: Session revoked }

  # ───────────────────────────── accounts ─────────────────────────────
  /v1/me:
    get:
      tags: [accounts]
      operationId: getMe
      security: [ { session: [] } ]
      responses:
        '200': { description: Account of the session wallet, content: { application/json: { schema: { $ref: '#/components/schemas/Me' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
  /v1/me/preferences:
    get:
      tags: [accounts]
      operationId: getPreferences
      security: [ { session: [] } ]
      responses:
        '200': { description: Preferences, content: { application/json: { schema: { $ref: '#/components/schemas/Preferences' } } } }
    put:
      tags: [accounts]
      operationId: putPreferences
      security: [ { session: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/Preferences' } } } }
      responses:
        '200': { description: Saved, content: { application/json: { schema: { $ref: '#/components/schemas/Preferences' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v1/me/events:
    get:
      tags: [accounts]
      operationId: listMyEvents
      security: [ { session: [] } ]
      parameters:
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: after, in: query, schema: { type: string } }
        - { name: wait, in: query, schema: { type: integer, minimum: 0, maximum: 30, default: 0 } }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Activity timeline of the wallet (store TimelineEvent)
          content: { application/json: { schema: { type: object, required: [items, next_cursor], properties: { items: { type: array, items: { $ref: '#/components/schemas/Event' } }, next_cursor: { type: [string, 'null'] } } } } }
  /v1/me/notifications:
    get:
      tags: [accounts]
      operationId: listNotifications
      security: [ { session: [] } ]
      parameters: [ { name: unread, in: query, schema: { type: boolean } }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Notifications
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Notification' } }, unread: { type: integer } } } ] } } }
  /v1/me/notifications/read:
    post:
      tags: [accounts]
      operationId: markNotificationsRead
      security: [ { session: [] } ]
      requestBody:
        required: true
        content: { application/json: { schema: { type: object, properties: { ids: { type: array, items: { type: string } }, all: { type: boolean } } } } }
      responses:
        '204': { description: Marked }
  /v1/me/alerts:
    get:
      tags: [accounts]
      operationId: listAlerts
      security: [ { session: [] } ]
      responses:
        '200':
          description: Active mining alerts
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required: [id, type, severity, message, created_at]
                      properties:
                        id: { type: string }
                        type: { type: string, enum: [offline, missed_leases, proof_failure, slashing, low_collateral, jailed, project_paused, update_required] }
                        severity: { type: string, enum: [warning, critical] }
                        message: { type: string }
                        project_id: { $ref: '#/components/schemas/Hash' }
                        node_id: { $ref: '#/components/schemas/NodeId' }
                        subscription_id: { $ref: '#/components/schemas/Hash' }
                        created_at: { $ref: '#/components/schemas/UnixTime' }
  /v1/accounts/{address}:
    get:
      tags: [accounts]
      operationId: getAccount
      summary: Public profile of a wallet (miner and/or developer)
      parameters: [ { $ref: '#/components/parameters/AddressPath' } ]
      responses:
        '200': { description: Profile, content: { application/json: { schema: { $ref: '#/components/schemas/AccountProfile' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/accounts/{address}/balances:
    get:
      tags: [accounts]
      operationId: getBalances
      parameters: [ { $ref: '#/components/parameters/AddressPath' } ]
      responses:
        '200':
          description: On-chain balances (Sepolia ETH, NECTA, reward tokens of subscribed projects) and unclaimed rewards
          content:
            application/json:
              schema:
                type: object
                required: [address, balances, unclaimed]
                properties:
                  address: { $ref: '#/components/schemas/Address' }
                  balances: { type: array, items: { $ref: '#/components/schemas/TokenBalance' } }
                  unclaimed: { type: array, items: { $ref: '#/components/schemas/TokenBalance' } }
                  collateral_bonded: { $ref: '#/components/schemas/Amount' }
                  block_number: { type: integer }
  /v1/leaderboards:
    get:
      tags: [accounts]
      operationId: getLeaderboard
      parameters:
        - { name: metric, in: query, required: true, schema: { type: string, enum: [units, earnings, uptime, reputation, devices] } }
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { $ref: '#/components/parameters/Period' }
        - { $ref: '#/components/parameters/Limit' }
      responses:
        '200':
          description: Ranked wallets
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      required: [rank, address, value]
                      properties:
                        rank: { type: integer }
                        address: { $ref: '#/components/schemas/Address' }
                        value: { type: string, description: 'Integer or Amount string' }
                        devices: { type: integer }

  # ───────────────────────────── devices ─────────────────────────────
  /v1/devices/bind:
    post:
      tags: [devices]
      operationId: bindDevice
      summary: Submit a binding record (PLATFORM.md §c.2). Self-authenticating (owner EIP-191 + node ed25519).
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/Binding' } } } }
      responses:
        '200': { description: Bound (or same binding already active), content: { application/json: { schema: { $ref: '#/components/schemas/Device' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/devices/unbind:
    post:
      tags: [devices]
      operationId: unbindDevice
      summary: Submit an unbind record (signed by owner or node)
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/Unbinding' } } } }
      responses:
        '200': { description: Unbound }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/Unprocessable' }
  /v1/devices/binding-message:
    post:
      tags: [devices]
      operationId: buildBindingMessage
      summary: Convenience — returns the exact binding text for (owner, node) with a fresh nonce
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [owner, public_key]
              properties:
                owner: { $ref: '#/components/schemas/Address' }
                public_key: { $ref: '#/components/schemas/Ed25519PublicKey' }
                unbind: { type: boolean, default: false }
      responses:
        '200':
          description: Message to sign
          content: { application/json: { schema: { type: object, required: [message, binding_hash], properties: { message: { type: string }, binding_hash: { $ref: '#/components/schemas/Hash' } } } } }
  /v1/me/devices:
    get:
      tags: [devices]
      operationId: listMyDevices
      security: [ { session: [] } ]
      parameters: [ { name: group_id, in: query, schema: { type: string } }, { name: status, in: query, schema: { $ref: '#/components/schemas/DeviceStatus' } }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Devices bound to the session wallet (operator fleet view)
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Device' } } } } ] } } }
  /v1/devices/{node_id}:
    get:
      tags: [devices]
      operationId: getDevice
      summary: Device record; public subset unless the caller is the owner
      security: [ {}, { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/NodeIdPath' } ]
      responses:
        '200': { description: Device, content: { application/json: { schema: { $ref: '#/components/schemas/Device' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [devices]
      operationId: updateDevice
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/NodeIdPath' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                label: { type: string, maxLength: 64 }
                group_id: { type: [string, 'null'] }
      responses:
        '200': { description: Updated, content: { application/json: { schema: { $ref: '#/components/schemas/Device' } } } }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/devices/{node_id}/profile:
    put:
      tags: [devices, nodes]
      operationId: putDeviceProfile
      summary: Device reports class, platform, versions, hardware and benchmark (node-signed)
      security: [ { nodeSig: [] } ]
      parameters: [ { $ref: '#/components/parameters/NodeIdPath' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [class, platform, os_version, arch, engine, miner_version, ndsr_version, hardware]
              properties:
                class: { $ref: '#/components/schemas/DeviceClass' }
                platform: { $ref: '#/components/schemas/Platform' }
                os_version: { type: string, maxLength: 64 }
                arch: { type: string, maxLength: 32 }
                engine: { $ref: '#/components/schemas/Engine' }
                miner_version: { type: string, maxLength: 32 }
                ndsr_version: { type: string, maxLength: 32 }
                hardware: { $ref: '#/components/schemas/HardwareProfile' }
                benchmark: { $ref: '#/components/schemas/BenchmarkResult' }
      responses:
        '200': { description: Stored, content: { application/json: { schema: { $ref: '#/components/schemas/Device' } } } }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/me/device-groups:
    get:
      tags: [devices]
      operationId: listDeviceGroups
      security: [ { session: [] } ]
      responses:
        '200': { description: Groups, content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/DeviceGroup' } } } } } } }
    post:
      tags: [devices]
      operationId: createDeviceGroup
      security: [ { session: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name], properties: { name: { type: string, maxLength: 64 }, node_ids: { type: array, items: { $ref: '#/components/schemas/NodeId' } } } } } } }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/DeviceGroup' } } } }
  /v1/me/device-groups/{group_id}:
    put:
      tags: [devices]
      operationId: updateDeviceGroup
      security: [ { session: [] } ]
      parameters: [ { name: group_id, in: path, required: true, schema: { type: string } } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [name, node_ids], properties: { name: { type: string }, node_ids: { type: array, items: { $ref: '#/components/schemas/NodeId' } } } } } } }
      responses:
        '200': { description: Updated, content: { application/json: { schema: { $ref: '#/components/schemas/DeviceGroup' } } } }
    delete:
      tags: [devices]
      operationId: deleteDeviceGroup
      security: [ { session: [] } ]
      parameters: [ { name: group_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '204': { description: Deleted }

  # ───────────────────────────── subscriptions ─────────────────────────────
  /v1/subscriptions:
    post:
      tags: [subscriptions]
      operationId: createSubscription
      summary: Subscription intent for (project, device); returns the gasless bond payloads to sign (PLATFORM.md §d)
      security: [ { session: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [project_id, node_id, collateral]
              properties:
                project_id: { $ref: '#/components/schemas/Hash' }
                node_id: { $ref: '#/components/schemas/NodeId' }
                collateral: { $ref: '#/components/schemas/Amount' }
      responses:
        '201': { description: Intent stored (`pending_collateral`), content: { application/json: { schema: { $ref: '#/components/schemas/SubscriptionIntent' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
  /v1/subscriptions/batch:
    post:
      tags: [subscriptions]
      operationId: createSubscriptionsBatch
      summary: Fleet deploy — intents for many devices × projects (store OperatorDeployment)
      security: [ { session: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [items]
              properties:
                items:
                  type: array
                  maxItems: 200
                  items:
                    type: object
                    required: [project_id, node_id, collateral]
                    properties:
                      project_id: { $ref: '#/components/schemas/Hash' }
                      node_id: { $ref: '#/components/schemas/NodeId' }
                      collateral: { $ref: '#/components/schemas/Amount' }
      responses:
        '201':
          description: Per-item results and one batched bond payload
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items:
                      type: object
                      properties:
                        project_id: { $ref: '#/components/schemas/Hash' }
                        node_id: { $ref: '#/components/schemas/NodeId' }
                        subscription_id: { $ref: '#/components/schemas/Hash' }
                        error: { type: [string, 'null'] }
                  bond: { $ref: '#/components/schemas/GaslessPayload' }
  /v1/me/subscriptions:
    get:
      tags: [subscriptions]
      operationId: listMySubscriptions
      security: [ { session: [] } ]
      parameters:
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: node_id, in: query, schema: { $ref: '#/components/schemas/NodeId' } }
        - { name: status, in: query, schema: { $ref: '#/components/schemas/SubscriptionStatus' } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Subscriptions
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Subscription' } } } } ] } } }
  /v1/me/collateral:
    get:
      tags: [subscriptions]
      operationId: getMyCollateral
      security: [ { session: [] } ]
      responses:
        '200':
          description: Collateral summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  bonded: { $ref: '#/components/schemas/Amount' }
                  unbonding: { $ref: '#/components/schemas/Amount' }
                  withdrawable: { $ref: '#/components/schemas/Amount' }
                  slashed_total: { $ref: '#/components/schemas/Amount' }
                  pending_slashes: { type: integer }
                  necta_balance: { $ref: '#/components/schemas/Amount' }
                  subscriptions: { type: array, items: { $ref: '#/components/schemas/Subscription' } }
  /v1/subscriptions/{subscription_id}:
    get:
      tags: [subscriptions]
      operationId: getSubscription
      parameters: [ { $ref: '#/components/parameters/SubscriptionId' } ]
      responses:
        '200': { description: Subscription, content: { application/json: { schema: { $ref: '#/components/schemas/Subscription' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/subscriptions/{subscription_id}/bond:
    post:
      tags: [subscriptions]
      operationId: relayBond
      summary: Relay a signed gasless bond / top-up (EIP-712 Bond + EIP-2612 permit) to Staking.bondBySig
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/SubscriptionId' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/SignedGasless' } } } }
      responses:
        '202': { description: Submitted, content: { application/json: { schema: { $ref: '#/components/schemas/TxStatus' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/subscriptions/{subscription_id}/bond-payload:
    post:
      tags: [subscriptions]
      operationId: buildBondPayload
      summary: Typed data to sign for a top-up of `amount`
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/SubscriptionId' } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [amount], properties: { amount: { $ref: '#/components/schemas/Amount' } } } } } }
      responses:
        '200': { description: Payload, content: { application/json: { schema: { $ref: '#/components/schemas/GaslessPayload' } } } }
  /v1/subscriptions/{subscription_id}/pause:
    post:
      tags: [subscriptions]
      operationId: pauseSubscription
      summary: Hub-side pause (excluded from the next snapshot); collateral stays bonded
      security: [ { session: [] }, { nodeSig: [] } ]
      parameters: [ { $ref: '#/components/parameters/SubscriptionId' } ]
      responses:
        '200': { description: Paused, content: { application/json: { schema: { $ref: '#/components/schemas/Subscription' } } } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/subscriptions/{subscription_id}/resume:
    post:
      tags: [subscriptions]
      operationId: resumeSubscription
      security: [ { session: [] }, { nodeSig: [] } ]
      parameters: [ { $ref: '#/components/parameters/SubscriptionId' } ]
      responses:
        '200': { description: Resumed, content: { application/json: { schema: { $ref: '#/components/schemas/Subscription' } } } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/subscriptions/{subscription_id}/unbond:
    post:
      tags: [subscriptions]
      operationId: unbondSubscription
      summary: Without body → typed data to sign; with signed body → relayed Staking.unbondBySig
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/SubscriptionId' } ]
      requestBody: { required: false, content: { application/json: { schema: { $ref: '#/components/schemas/SignedGasless' } } } }
      responses:
        '200': { description: Payload to sign, content: { application/json: { schema: { $ref: '#/components/schemas/GaslessPayload' } } } }
        '202': { description: Submitted, content: { application/json: { schema: { $ref: '#/components/schemas/TxStatus' } } } }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/subscriptions/{subscription_id}/withdraw:
    post:
      tags: [subscriptions]
      operationId: withdrawCollateral
      summary: Without body → typed data; with signed body → relayed Staking.withdrawBySig (after release_at)
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/SubscriptionId' } ]
      requestBody: { required: false, content: { application/json: { schema: { $ref: '#/components/schemas/SignedGasless' } } } }
      responses:
        '200': { description: Payload to sign, content: { application/json: { schema: { $ref: '#/components/schemas/GaslessPayload' } } } }
        '202': { description: Submitted, content: { application/json: { schema: { $ref: '#/components/schemas/TxStatus' } } } }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────────── earnings / proofs ─────────────────────────────
  /v1/me/leases:
    get:
      tags: [earnings]
      operationId: listMyLeases
      security: [ { session: [] } ]
      parameters:
        - { name: state, in: query, schema: { type: string, enum: [offered, leased, voted, finalized, missed, cancelled] } }
        - { name: node_id, in: query, schema: { $ref: '#/components/schemas/NodeId' } }
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Leases (store Task / MiningJob)
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Lease' } } } } ] } } }
  /v1/me/proofs:
    get:
      tags: [earnings]
      operationId: listMyProofs
      security: [ { session: [] } ]
      parameters:
        - { name: status, in: query, schema: { $ref: '#/components/schemas/ProofStatus' } }
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: node_id, in: query, schema: { $ref: '#/components/schemas/NodeId' } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Proofs (a miner's vote in a round + outcome)
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Proof' } } } } ] } } }
  /v1/me/proofs/stats:
    get:
      tags: [earnings]
      operationId: getMyProofStats
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/Period' }, { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } } ]
      responses:
        '200':
          description: Stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  submitted: { type: integer }
                  verified: { type: integer }
                  rejected: { type: integer }
                  missed: { type: integer }
                  success_bp: { type: integer }
                  avg_finality_ms: { type: integer }
                  rejection_reasons: { type: object, additionalProperties: { type: integer } }
  /v1/proofs/{proof_id}:
    get:
      tags: [earnings]
      operationId: getProof
      parameters: [ { name: proof_id, in: path, required: true, schema: { $ref: '#/components/schemas/Hash' } } ]
      responses:
        '200':
          description: Proof with the vote, the finality record and committee
          content:
            application/json:
              schema:
                allOf:
                  - { $ref: '#/components/schemas/Proof' }
                  - type: object
                    properties:
                      vote: { $ref: '#/components/schemas/TaskVote' }
                      finality: { $ref: '#/components/schemas/FinalityRecord' }
                      finality_validators: { type: array, items: { $ref: '#/components/schemas/NodeId' } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/me/earnings:
    get:
      tags: [earnings]
      operationId: getMyEarnings
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/Period' }, { name: group_by, in: query, schema: { type: string, enum: [project, device, day], default: project } } ]
      responses:
        '200':
          description: Earnings breakdown (per reward token; amounts never summed across tokens)
          content:
            application/json:
              schema:
                type: object
                properties:
                  period: { type: string }
                  totals: { type: array, items: { $ref: '#/components/schemas/TokenBalance' } }
                  units: { type: integer }
                  rows:
                    type: array
                    items:
                      type: object
                      properties:
                        key: { type: string, description: 'project_id, node_id or YYYY-MM-DD' }
                        units: { type: integer }
                        amounts: { type: array, items: { $ref: '#/components/schemas/TokenBalance' } }
  /v1/me/earnings/epochs:
    get:
      tags: [earnings]
      operationId: listMyEpochPayouts
      security: [ { session: [] } ]
      parameters:
        - { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }
        - { name: claimed, in: query, schema: { type: boolean } }
        - { $ref: '#/components/parameters/Limit' }
        - { $ref: '#/components/parameters/Cursor' }
      responses:
        '200':
          description: Per project-epoch payouts (store Payout)
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/EpochPayout' } } } } ] } } }
  /v1/me/claims:
    get:
      tags: [earnings]
      operationId: listClaimable
      summary: Unclaimed, released epoch payouts with Merkle proofs (also works for any address via ?address=)
      security: [ { session: [] }, {} ]
      parameters: [ { name: address, in: query, schema: { $ref: '#/components/schemas/Address' } }, { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } } ]
      responses:
        '200': { description: Claims, content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/Claim' } } } } } } }
  /v1/me/withdrawals:
    get:
      tags: [earnings]
      operationId: listMyWithdrawals
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Claim and collateral withdrawals (store Withdrawal)
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Withdrawal' } } } } ] } } }
  /v1/me/withdrawals/claims:
    post:
      tags: [earnings]
      operationId: claimRewards
      summary: Relay claims for the session wallet (ProjectVault.claimMany; anyone may claim for a miner, funds always go to the miner)
      security: [ { session: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                project_ids: { type: array, items: { $ref: '#/components/schemas/Hash' }, description: 'Default: all with claimable amounts' }
      responses:
        '202':
          description: One withdrawal per vault
          content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/Withdrawal' } } } } } }
        '409': { $ref: '#/components/responses/Conflict' }
        '429': { $ref: '#/components/responses/RateLimited' }

  # ───────────────────────────── slashing ─────────────────────────────
  /v1/me/slashes:
    get:
      tags: [slashing]
      operationId: listMySlashes
      security: [ { session: [] } ]
      parameters: [ { name: status, in: query, schema: { $ref: '#/components/schemas/SlashStatus' } }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Slashes against the wallet's subscriptions
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/Slash' } } } } ] } } }
  /v1/slashes:
    post:
      tags: [slashing]
      operationId: submitEvidence
      summary: Submit slashing evidence (PLATFORM.md §i.1); anyone may submit, the Hub verifies
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/Evidence' } } } }
      responses:
        '201': { description: Recorded, content: { application/json: { schema: { $ref: '#/components/schemas/Slash' } } } }
        '200': { description: Already known, content: { application/json: { schema: { $ref: '#/components/schemas/Slash' } } } }
        '422': { $ref: '#/components/responses/Unprocessable' }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/slashes/{evidence_hash}:
    get:
      tags: [slashing]
      operationId: getSlash
      parameters: [ { $ref: '#/components/parameters/EvidenceHash' } ]
      responses:
        '200':
          description: Slash with full evidence
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Slash' }, { type: object, properties: { evidence: { $ref: '#/components/schemas/Evidence' } } } ] } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/slashes/{evidence_hash}/disputes:
    post:
      tags: [slashing]
      operationId: disputeSlash
      summary: Dispute before `executable_at` (owner of the subscription only)
      security: [ { session: [] } ]
      parameters: [ { $ref: '#/components/parameters/EvidenceHash' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, maxLength: 4000 }
                links: { type: array, maxItems: 5, items: { type: string, format: uri } }
      responses:
        '201': { description: Filed, content: { application/json: { schema: { $ref: '#/components/schemas/Slash' } } } }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }

  # ───────────────────────────── faucet ─────────────────────────────
  /v1/faucet:
    get:
      tags: [faucet]
      operationId: getFaucet
      security: [ { session: [] }, {} ]
      responses:
        '200': { description: Faucet terms and caller eligibility, content: { application/json: { schema: { $ref: '#/components/schemas/FaucetStatus' } } } }
  /v1/faucet/drip:
    post:
      tags: [faucet]
      operationId: faucetDrip
      summary: Send testnet NECTA (and a little Sepolia ETH if available) to the session wallet
      security: [ { session: [] } ]
      responses:
        '202':
          description: Drip submitted
          content:
            application/json:
              schema:
                type: object
                required: [tx_hash, amount, next_eligible_at]
                properties:
                  tx_hash: { $ref: '#/components/schemas/Hash' }
                  amount: { $ref: '#/components/schemas/Amount' }
                  eth_tx_hash: { oneOf: [ { $ref: '#/components/schemas/Hash' }, { type: 'null' } ] }
                  eth_amount: { $ref: '#/components/schemas/Amount' }
                  next_eligible_at: { $ref: '#/components/schemas/UnixTime' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '503': { $ref: '#/components/responses/Unavailable' }

  # ───────────────────────────── developers ─────────────────────────────
  /v1/developers/{address}:
    get:
      tags: [developers]
      operationId: getDeveloper
      parameters: [ { $ref: '#/components/parameters/AddressPath' } ]
      responses:
        '200': { description: Public developer profile, content: { application/json: { schema: { $ref: '#/components/schemas/Developer' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/developers/me:
    get:
      tags: [developers]
      operationId: getMyDeveloper
      security: [ { session: [] } ]
      responses:
        '200': { description: Developer record incl. enrollment and verification, content: { application/json: { schema: { $ref: '#/components/schemas/Developer' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [developers]
      operationId: putMyDeveloperProfile
      security: [ { session: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DeveloperProfileInput' } } } }
      responses:
        '200': { description: Saved, content: { application/json: { schema: { $ref: '#/components/schemas/Developer' } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
  /v1/developers/me/enrollment:
    post:
      tags: [developers]
      operationId: submitEnrollment
      summary: 'Submit enrollment (operator-reviewed on testnet); `draft: true` only saves'
      security: [ { session: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [developer_type, display_name, agreements_accepted]
              properties:
                draft: { type: boolean, default: false }
                developer_type: { type: string, enum: [individual, organization] }
                display_name: { type: string, maxLength: 64 }
                email: { type: string, format: email }
                website: { type: string, format: uri }
                reason: { type: string, maxLength: 2000 }
                agreements_accepted: { type: boolean, const: true }
      responses:
        '200': { description: Saved / submitted, content: { application/json: { schema: { $ref: '#/components/schemas/Developer' } } } }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/developers/me/verification:
    post:
      tags: [developers]
      operationId: requestVerification
      security: [ { session: [] } ]
      requestBody: { required: false, content: { application/json: { schema: { type: object, properties: { notes: { type: string, maxLength: 2000 } } } } } }
      responses:
        '200': { description: Requested, content: { application/json: { schema: { $ref: '#/components/schemas/Developer' } } } }
        '409': { $ref: '#/components/responses/Conflict' }
  /v1/developers/me/drafts:
    get:
      tags: [developers]
      operationId: listDrafts
      security: [ { session: [] } ]
      responses:
        '200': { description: Drafts, content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/Draft' } } } } } } }
    post:
      tags: [developers]
      operationId: createDraft
      security: [ { session: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DraftInput' } } } }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Draft' } } } }
  /v1/developers/me/drafts/{draft_id}:
    get:
      tags: [developers]
      operationId: getDraft
      security: [ { session: [] } ]
      parameters: [ { name: draft_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200': { description: Draft, content: { application/json: { schema: { $ref: '#/components/schemas/Draft' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
    put:
      tags: [developers]
      operationId: saveDraft
      security: [ { session: [] } ]
      parameters: [ { name: draft_id, in: path, required: true, schema: { type: string } } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/DraftInput' } } } }
      responses:
        '200': { description: Saved, content: { application/json: { schema: { $ref: '#/components/schemas/Draft' } } } }
        '413': { $ref: '#/components/responses/TooLarge' }
    delete:
      tags: [developers]
      operationId: deleteDraft
      security: [ { session: [] } ]
      parameters: [ { name: draft_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '204': { description: Deleted }
  /v1/developers/assets:
    post:
      tags: [developers]
      operationId: uploadAsset
      summary: Upload a listing image (PNG/JPEG/WebP, ≤ 2 MiB, ≤ 4096×4096); served at /v1/assets/{sha256}
      security: [ { session: [] }, { apiKey: [projects:write] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content_type, data_b64]
              properties:
                content_type: { type: string, enum: [image/png, image/jpeg, image/webp] }
                data_b64: { type: string }
      responses:
        '201': { description: Stored, content: { application/json: { schema: { type: object, required: [sha256, url], properties: { sha256: { type: string }, url: { type: string, format: uri } } } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '413': { $ref: '#/components/responses/TooLarge' }
  /v1/developers/me/projects:
    get:
      tags: [developers]
      operationId: listMyProjects
      security: [ { session: [] }, { apiKey: [projects:read] } ]
      responses:
        '200': { description: All statuses, content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/ProjectSummary' } } } } } } }
  /v1/developers/projects/prepare:
    post:
      tags: [developers]
      operationId: prepareManifest
      summary: Validate an unsigned manifest; returns the exact bytes to sign and derived ids
      security: [ { session: [] }, { apiKey: [projects:write] } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [manifest], properties: { manifest: { $ref: '#/components/schemas/Manifest' } } } } } }
      responses:
        '200':
          description: Valid (or list of problems)
          content:
            application/json:
              schema:
                type: object
                required: [valid, problems]
                properties:
                  valid: { type: boolean }
                  problems: { type: array, items: { type: object, required: [path, code, message], properties: { path: { type: string }, code: { type: string }, message: { type: string } } } }
                  canonical: { type: string, description: 'UTF-8 canonical JSON to pass to personal_sign' }
                  manifest_hash: { $ref: '#/components/schemas/Hash' }
                  consensus_hash: { $ref: '#/components/schemas/Hash' }
                  project_id: { $ref: '#/components/schemas/Hash' }
                  vault: { $ref: '#/components/schemas/Address' }
                  tier_changes: { type: array, items: { type: string, enum: [consensus, scheduling, listing] } }
  /v1/developers/projects:
    post:
      tags: [developers]
      operationId: publishProject
      summary: Submit a signed version-1 manifest; returns the ProjectRegistry.register transaction to send
      description: Requires an `active` enrollment and `verified` developer. After the tx confirms the Hub indexes
        `ProjectRegistered` and the project moves to `pending_review`.
      security: [ { session: [] }, { apiKey: [projects:write] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/SignedManifest' } } } }
      responses:
        '201':
          description: Submitted
          content:
            application/json:
              schema:
                type: object
                required: [project, register_tx]
                properties:
                  project: { $ref: '#/components/schemas/Project' }
                  register_tx: { $ref: '#/components/schemas/TxRequest' }
                  register_by_sig: { $ref: '#/components/schemas/GaslessPayload' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
  /v1/developers/projects/{project_id}/versions:
    post:
      tags: [developers]
      operationId: publishVersion
      summary: Submit a signed version n > 1. Consensus changes return a publishVersion transaction; listing/scheduling-only changes apply at once.
      security: [ { session: [] }, { apiKey: [projects:write] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/SignedManifest' } } } }
      responses:
        '201':
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version: { $ref: '#/components/schemas/ProjectVersion' }
                  publish_tx: { oneOf: [ { $ref: '#/components/schemas/TxRequest' }, { type: 'null' } ] }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409': { $ref: '#/components/responses/Conflict' }
        '422': { $ref: '#/components/responses/Unprocessable' }
  /v1/developers/projects/{project_id}/analytics:
    get:
      tags: [developers]
      operationId: getProjectAnalytics
      security: [ { session: [] }, { apiKey: [analytics:read] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Period' } ]
      responses:
        '200': { description: Analytics (store DeveloperAnalytics), content: { application/json: { schema: { $ref: '#/components/schemas/ProjectAnalytics' } } } }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/developers/projects/{project_id}/health:
    get:
      tags: [developers]
      operationId: getProjectHealth
      security: [ { session: [] }, { apiKey: [analytics:read] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      responses:
        '200':
          description: Health signals
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [healthy, degraded, underfunded, paused, fallback] }
                  eligible_miners: { type: integer }
                  committee_size: { type: integer }
                  fallback_rounds_24h: { type: integer }
                  contested_rounds_24h: { type: integer }
                  median_finality_ms: { type: integer }
                  runway_epochs: { type: integer }
                  issues: { type: array, items: { type: string } }
  /v1/developers/projects/{project_id}/revenue:
    get:
      tags: [developers]
      operationId: getProjectRevenue
      security: [ { session: [] }, { apiKey: [analytics:read] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Period' } ]
      responses:
        '200':
          description: Per-epoch gross/miner/developer/treasury totals
          content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/EpochSummary' } }, totals: { $ref: '#/components/schemas/EpochTotals' } } } } }
  /v1/developers/projects/{project_id}/proofs:
    get:
      tags: [developers]
      operationId: getProjectProofMonitoring
      security: [ { session: [] }, { apiKey: [analytics:read] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200':
          description: Recent rounds with committee outcome
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/Page' }, { properties: { items: { type: array, items: { $ref: '#/components/schemas/RoundSummary' } } } } ] } } }
  /v1/developers/projects/{project_id}/announcements:
    post:
      tags: [developers]
      operationId: createAnnouncement
      security: [ { session: [] }, { apiKey: [projects:write] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, content, type]
              properties:
                title: { type: string, maxLength: 120 }
                content: { type: string, maxLength: 8000 }
                type: { type: string, enum: [update, maintenance, feature, alert] }
      responses:
        '201': { description: Created, content: { application/json: { schema: { $ref: '#/components/schemas/Announcement' } } } }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/developers/projects/{project_id}/announcements/{announcement_id}:
    delete:
      tags: [developers]
      operationId: deleteAnnouncement
      security: [ { session: [] }, { apiKey: [projects:write] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { name: announcement_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '204': { description: Deleted }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/developers/projects/{project_id}/simulations:
    get:
      tags: [developers]
      operationId: listSimulations
      security: [ { session: [] }, { apiKey: [projects:read] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      responses:
        '200': { description: Runs, content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/Simulation' } } } } } } }
    post:
      tags: [developers]
      operationId: runSimulation
      summary: Run up to 10 sample tasks through validator rounds (works before listing; uses the draft or current manifest)
      security: [ { session: [] }, { apiKey: [projects:write] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tasks]
              properties:
                tasks:
                  type: array
                  minItems: 1
                  maxItems: 10
                  items: { type: object, required: [function, input], properties: { function: { type: string }, input: {}, gas_limit: { type: integer } } }
      responses:
        '202': { description: Started, content: { application/json: { schema: { $ref: '#/components/schemas/Simulation' } } } }
        '429': { $ref: '#/components/responses/RateLimited' }
  /v1/developers/projects/{project_id}/simulations/{simulation_id}:
    get:
      tags: [developers]
      operationId: getSimulation
      security: [ { session: [] }, { apiKey: [projects:read] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { name: simulation_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '200': { description: Run, content: { application/json: { schema: { $ref: '#/components/schemas/Simulation' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
  /v1/developers/api-keys:
    get:
      tags: [developers]
      operationId: listApiKeys
      security: [ { session: [] } ]
      responses:
        '200': { description: Keys (secrets never returned again), content: { application/json: { schema: { type: object, properties: { items: { type: array, items: { $ref: '#/components/schemas/ApiKey' } } } } } } }
    post:
      tags: [developers]
      operationId: createApiKey
      security: [ { session: [] } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, scopes]
              properties:
                name: { type: string, maxLength: 64 }
                scopes: { type: array, items: { $ref: '#/components/schemas/ApiScope' } }
                project_ids: { type: array, items: { $ref: '#/components/schemas/Hash' }, description: 'Restrict to these projects (default: all of the developer)' }
                expires_at: { oneOf: [ { $ref: '#/components/schemas/UnixTime' }, { type: 'null' } ] }
      responses:
        '201':
          description: Created; `secret` is shown once
          content: { application/json: { schema: { allOf: [ { $ref: '#/components/schemas/ApiKey' }, { type: object, required: [secret], properties: { secret: { type: string, examples: ['nk_test_ab12cd34_…'] } } } ] } } }
        '403': { $ref: '#/components/responses/Forbidden' }
  /v1/developers/api-keys/{key_id}:
    delete:
      tags: [developers]
      operationId: revokeApiKey
      security: [ { session: [] } ]
      parameters: [ { name: key_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '204': { description: Revoked }
        '404': { $ref: '#/components/responses/NotFound' }

  # ───────────────────────────── nodes (new, node-signed) ─────────────────────────────
  /v1/nodes/epoch-receipts:
    post:
      tags: [nodes]
      operationId: submitEpochReceipt
      summary: Attested reward receipt v2 (PLATFORM.md §h.5); v1 stays on POST /api/receipt
      security: [ { nodeSig: [] } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/RewardReceiptV2' } } } }
      responses:
        '202':
          description: Queued for settlement
          content: { application/json: { schema: { type: object, properties: { status: { type: string, const: queued }, receipt_hash: { $ref: '#/components/schemas/Hash' }, attestations_counted: { type: integer }, quorum: { type: integer } } } } }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { description: Insufficient quorum or unapproved node, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '409': { description: 'Duplicate (project_id, round) — `{"status": "duplicate"}` settles it', content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '422': { $ref: '#/components/responses/Unprocessable' }
  /v1/nodes/committee-sets/{project_id}/{epoch}:
    get:
      tags: [nodes]
      operationId: getPendingSnapshot
      summary: Unattested snapshot for validators to check and sign (they return signatures via POST /consensus/committee-sets on their own API; this is the pull alternative)
      security: [ { nodeSig: [] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Epoch' } ]
      responses:
        '200': { description: Snapshot, content: { application/json: { schema: { $ref: '#/components/schemas/Snapshot' } } } }
        '404': { $ref: '#/components/responses/NotFound' }
    post:
      tags: [nodes]
      operationId: postSnapshotAttestation
      security: [ { nodeSig: [] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' }, { $ref: '#/components/parameters/Epoch' } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/Attestation' } } } }
      responses:
        '200': { description: Counted, content: { application/json: { schema: { $ref: '#/components/schemas/AttestedSnapshot' } } } }
        '422': { $ref: '#/components/responses/Unprocessable' }

  # ───────────────────────────── node-legacy (PROTOCOL.md, unchanged) ─────────────────────────────
  /api/nodes/register:
    post: { tags: [node-legacy], operationId: legacyNodeRegister, summary: 'PROTOCOL.md § Node identity / registration', security: [ { nodeSig: [] } ], responses: { '200': { description: Approved }, '202': { description: Pending } } }
  /api/nodes/heartbeat:
    post: { tags: [node-legacy], operationId: legacyNodeHeartbeat, security: [ { nodeSig: [] } ], responses: { '200': { description: OK } } }
  /api/validators:
    get: { tags: [node-legacy], operationId: legacyValidators, summary: 'PROTOCOL.md § Validator set', security: [ { nodeSig: [] } ], responses: { '200': { description: Set } } }
  /api/receipts:
    post: { tags: [node-legacy], operationId: legacyExecutionReceipt, summary: 'PROTOCOL.md § Execution receipt', security: [ { nodeSig: [] } ], responses: { '200': { description: Ingested } } }
  /api/receipt:
    post: { tags: [node-legacy], operationId: legacyRewardReceipt, summary: 'PROTOCOL.md § Reward receipt (v1)', security: [ { nodeSig: [] } ], responses: { '202': { description: Queued }, '409': { description: Duplicate } } }
  /api/vaults/{module_address}:
    get: { tags: [node-legacy], operationId: legacyVault, parameters: [ { name: module_address, in: path, required: true, schema: { type: string } } ], responses: { '200': { description: Vault }, '404': { description: No active vault } } }
  /api/modules/{address}/hbc:
    get: { tags: [node-legacy], operationId: legacyModuleHbc, security: [ { nodeSig: [] } ], parameters: [ { name: address, in: path, required: true, schema: { type: string } } ], responses: { '200': { description: 'application/octet-stream' } } }
  /api/chains:
    get: { tags: [node-legacy], operationId: legacyChains, responses: { '200': { description: Chains } } }
  /api/execute:
    post: { tags: [node-legacy], operationId: legacyExecute, summary: 'Alias of POST /v1/execute', responses: { '200': { description: Result } } }

  # ───────────────────────────── admin (gateway host only) ─────────────────────────────
  /admin/v1/projects/{project_id}/review:
    servers: [ { url: https://gateway.testnet.necter.network } ]
    post:
      tags: [admin]
      operationId: adminReviewProject
      summary: Listing decision; the Hub sends ProjectRegistry.setListingStatus with REVIEWER_ROLE
      security: [ { operator: [] } ]
      parameters: [ { $ref: '#/components/parameters/ProjectId' } ]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action: { type: string, enum: [approve, reject, pause, resume, delist] }
                reason: { type: string, maxLength: 2000 }
                conditions: { type: array, items: { type: string } }
      responses:
        '200': { description: Updated, content: { application/json: { schema: { $ref: '#/components/schemas/Project' } } } }
        '409': { $ref: '#/components/responses/Conflict' }
  /admin/v1/review-queue:
    servers: [ { url: https://gateway.testnet.necter.network } ]
    get:
      tags: [admin]
      operationId: adminReviewQueue
      security: [ { operator: [] } ]
      responses:
        '200': { description: 'Projects pending review, enrollments, verifications, reports, disputes', content: { application/json: { schema: { type: object, additionalProperties: true } } } }
  /admin/v1/developers/{address}/enrollment:
    servers: [ { url: https://gateway.testnet.necter.network } ]
    post:
      tags: [admin]
      operationId: adminReviewEnrollment
      security: [ { operator: [] } ]
      parameters: [ { $ref: '#/components/parameters/AddressPath' } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [status], properties: { status: { type: string, enum: [active, rejected] }, notes: { type: string } } } } } }
      responses:
        '200': { description: Updated, content: { application/json: { schema: { $ref: '#/components/schemas/Developer' } } } }
  /admin/v1/developers/{address}/verification:
    servers: [ { url: https://gateway.testnet.necter.network } ]
    post:
      tags: [admin]
      operationId: adminReviewVerification
      security: [ { operator: [] } ]
      parameters: [ { $ref: '#/components/parameters/AddressPath' } ]
      requestBody: { required: true, content: { application/json: { schema: { type: object, required: [status], properties: { status: { type: string, enum: [verified, rejected] }, notes: { type: string } } } } } }
      responses:
        '200': { description: Updated, content: { application/json: { schema: { $ref: '#/components/schemas/Developer' } } } }
  /admin/v1/collections/{collection_id}:
    servers: [ { url: https://gateway.testnet.necter.network } ]
    put:
      tags: [admin]
      operationId: adminPutCollection
      security: [ { operator: [] } ]
      parameters: [ { name: collection_id, in: path, required: true, schema: { type: string } } ]
      requestBody: { required: true, content: { application/json: { schema: { $ref: '#/components/schemas/Collection' } } } }
      responses:
        '200': { description: Saved, content: { application/json: { schema: { $ref: '#/components/schemas/Collection' } } } }
    delete:
      tags: [admin]
      operationId: adminDeleteCollection
      security: [ { operator: [] } ]
      parameters: [ { name: collection_id, in: path, required: true, schema: { type: string } } ]
      responses:
        '204': { description: Deleted }
  /admin/v1/reports:
    servers: [ { url: https://gateway.testnet.necter.network } ]
    get:
      tags: [admin]
      operationId: adminListReports
      security: [ { operator: [] } ]
      parameters: [ { name: project_id, in: query, schema: { $ref: '#/components/schemas/Hash' } }, { $ref: '#/components/parameters/Limit' }, { $ref: '#/components/parameters/Cursor' } ]
      responses:
        '200': { description: Reports, content: { application/json: { schema: { $ref: '#/components/schemas/Page' } } } }
  /admin/v1/slashes/{evidence_hash}/resolve:
    servers: [ { url: https://gateway.testnet.necter.network } ]
    post:
      tags: [admin]
[...]
